NEXT_PUBLIC_SUPABASE_URL=https://chtlsmlkmbbmvzaftefm.supabase.co
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNodGxzbWxrbWJibXZ6YWZ0ZWZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDc2MTY4OSwiZXhwIjoyMDk2MzM3Njg5fQ.Ljb0p5R4_AaMER1nnm1UZ0MBDjJtujAP5Ga7YH5RThENEXT_PUBLIC_BACKEND_URL=http://localhost:4000
